.row.justify-content-center.p-4{style: 'max-width: 1100px'}
  .col-md-12.col-lg-12
    .card.border
      .card-header
        %h4
          = 'ID Faktury:' + ' ' + @invoice[:invoice_id]
      .card-body
        .row
          .col-sm-6.border-end.border-end.border-bottom
            %h5.font-weight-bold Dodavatel
            %hr
            .row.mb-2.ps-5
              %h6.font-weight-bold
                = @supplier[:supplier_name]
              %p.mb-0
                = @supplier[:supplier_full_adress]
              %p.mb-0
                = @supplier[:supplier_city]
              %p
                = @supplier[:supplier_country]
            .row.ps-5.mb-3
              %span
                = 'IČO: '
                = @supplier[:supplier_ico]
                %br
                = 'DIČ: '
                = @supplier[:supplier_dic]
                %br
                = 'Kontakt: '
                = @supplier[:supplier_contact]
                %br
                = 'Telefon: '
                = @supplier[:supplier_phone]
                %br
                = 'Email: '
                = @supplier[:supplier_email]
          .col-sm-6.border-bottom
            %h5.font-weight-bold Odběratel
            %hr
            .row.mb-2.ps-3
              %h6.font-weight-bold
                = @subscriber[:subscriber_name]
              %p.mb-0
                = @subscriber[:subscriber_full_adress]
              %p.mb-0
                = @subscriber[:subscriber_city]
              %p
                = @subscriber[:subscriber_country]
            .row.ps-3.mb-3
              %span
                = 'IČO: '
                = @subscriber[:subscriber_ico]
                %br
                = 'DIČ: '
                = @subscriber[:subscriber_dic]
                %br
                = 'Kontakt: '
                = @subscriber[:subscriber_contact]
                %br
                = 'Telefon: '
                = @subscriber[:subscriber_phone]
                %br
                = 'Email: '
                = @subscriber[:subscriber_email]
        .row.mt-5
          %h5.font-weight-bold Platební podmínky
          %hr
          %dl.mb-0.col-sm-6.border-end
            %dt.mb-0= 'Způsob platby'
            %dd.mb-0= @payment[:payment_method] ? @payment[:payment_method] : 'Neuvedeno' 
            %dt.mb-0= 'Banka'
            %dd.mb-0= @payment[:payment_name] ? @payment[:payment_name] : 'Neuvedeno'
            %dt.mb-0= 'Číslo účtu'
            %dd.mb-0= @payment[:payment_id] + '/' + @payment[:payment_bank_code] if @payment[:payment_id] && @payment[:payment_bank_code]
            %dt.mb-0= 'IBAN'
            %dd.mb-0= @payment[:payment_iban] ? @payment[:payment_iban] : 'Neuvedeno'
            %dt.mb-0= 'SWIFT'
            %dd.mb-0= @payment[:payment_bic] ? @payment[:payment_bic] : 'Neuvedeno'       
          %dl.mb-0.col-sm-6
            %dt.mb-0= 'Datum splatnosti'
            %dd.mb-0= @payment[:payment_due_date] ? @payment[:payment_due_date] : 'Neuvedeno'
            %dt.mb-0= 'Variabilní symbol'
            %dd.mb-0= @payment[:payment_variable_symbol] ? @payment[:payment_variable_symbol] : 'Neuvedeno'
            %dt.mb-0= 'Konstantní symbol'
            %dd.mb-0= @payment[:payment_constant_symbol] ? @payment[:payment_constant_symbol] : 'Neuvedeno'
            %dt.mb-0= 'Specifický symbol'
            %dd.mb-0= @payment[:payment_specific_symbol].present? ? @payment[:payment_specific_symbol] : 'Neuvedeno'
            %dt.mb-0= 'Částka úhrady'
            %dd.mb-0= @payment[:payment_paid_amount] ? @payment[:payment_paid_amount] : 'Neuvedeno'
        %hr
        .row.mt-5
        %h5.font-weight-bold Položky faktury
        %table.table
          %thead.table-primary
            %tr
              %th= 'Předmět'
              %th= 'Množství'
              %th= 'Jedn.cena'
              %th= 'Sazba DPH'
              %th= 'Základ'
              %th= 'DPH'
              %th= 'Celkem'
          %tbody
            - @invoice_lines.each do |line|
              %tr
                %td
                  = line[:item][:item_description]
                %td
                  = line[:invoiced_quantity]
                %td
                  = line[:unit_price]
                %td
                  = line[:classified_tax_category][:percent]
                %td
                  = line[:line_extension_amount]
                %td
                  = line[:line_extension_tax_amount]
                %td
                  = line[:line_extension_amount_tax_inclusive]
        .row.mt-5.bg-light.p-2
          %h3.font-weight-bold Celkem
          %dl.mb-0.col-sm-8
          %dl.mb-0.col-sm-4
            %dt.mb-0= 'Základ'
            %dd.mb-0= @tax_total[:tax_sub_total_final].first[:taxable_amount]
            %dt.mb-0= 'DPH'
            %dd.mb-0= @tax_total[:tax_amount]
            %dt.mb-0= 'Celkem'
            %dd.mb-0
              %h2= @legal_monetary_total[:payable_amount]
